*{
	margin:  			calc(var(--vh, 1vh) * 0);
	padding: 			calc(var(--vh, 1vh) * 0);
}
@media (orientation: landscape) {
	.first{
		flex-direction: 	row;
	}
	.first>div{
	height: 				100vh;
	width: 					50vw;
	}
	.text{
		height: 			25vh;
		width: 				29vw;
		flex-direction: 	column;
	}
	h1{
		font-size: 			6vh;
	}
	p{
		font-size: 			3.3vh;
		line-height: 		5.5vh;
	}
	.botao{
		width: 				inherit;	
	}
	.botao>button{
		font-size: 			3vh;
	}
}
@media (orientation: portrait) {
	.first{
		flex-direction: 	column;
		align-items: 		center;
	}
	.first>div{
		height: 			50vh;
		width: 				100vw;
	}
	.text{
		height: 			50vh;
		width: 				90vw;
		flex-direction: 	row;
		align-items: 		center;
	}
	h1{
		font-size: 			6vw;
	}
	p{
		font-size:			3.3vw;
		line-height: 		5.5vw;
	}
	.botao{
		width: 				fit-content;	
	}
	.botao>button{
		font-size: 			3vw;
	}
}

h1{
	font-family: 			'Merriweather', Georgia, serif;
	font-style: 			normal;
	font-weight: 			400;
	color: 					#2B2B2B;
}
p{
	font-family: 			'Lato', Georgia, sans-serif;
	font-style: 			normal;
	font-weight:			400;
	color: 					#555555;	
}
img{
	max-width: 				75%;
	max-height: 			75%;
}
.first{
	position: 				relative;
	height: 				100vh;
	width: 					100vw;
	display: 				flex;
	background:				#D7D4FF;
}
.first>div{
	position:				relative;
	display:				flex;
	align-items: 			center;
	justify-content: 		center;
}
.first>div>div{
	position:				relative;
	display:				flex;
	justify-content: 		center;
}
.text>p{
	width: 					31vw;
}
.botao>button{
	height: 				7vh;
	width:					12vw;
	background:		 		#6C63FF;
	box-shadow: 			0px 0.25vw 0.25vh rgba(23, 23, 23, 0.1);
	border: 				none;
	border-radius: 			1vh;
	font-family: 			'Lato', Georgia, sans-serif;
	font-style: 			normal;
	font-weight: 			700;
	color:					white;
}
.botao>button:hover{
	transform: 				scale(1.01);
}

.second{
	position: 				relative;
	height: 				100vh;
	width: 					100vw;
	display: 				flex;
    align-items: 			center;
    justify-content: 		center;
	flex-wrap: 				wrap;
	background:				#E5E5E5;
}
@media (orientation: portrait) {
	.second>div{
		height: 				40vh;
		width: 					90vw;
		display: 				flex;
		justify-content: 		space-around;
		overflow: 				auto;
	}
	.colors{
		position: 				relative;
		height: 				40vh;
		width: 					25vw;
		display: 				flex;
		align-items: 			flex-end;
	}
	.colors>div{
		height:					12vh;
		padding:				2.5vh;
		gap:					1.5vh;
		display: 				flex;
		flex-direction:			column;
		background:				white;
		overflow: auto;
	}
}
@media (orientation: landscape){
	.second>div{
		height: 				40vh;
		width: 					90vw;
		display: 				flex;
		justify-content: 		space-around;
		overflow: 				auto;
	}
	.colors{
		position: 				relative;
		height: 				40vh;
		width: 					18.33vw;
		display: 				flex;
		align-items: 			flex-end;
	}
	.colors>div{
		height:					12vh;
		padding:				2.5vh;
		gap:					1.5vh;
		display: 				flex;
		flex-direction:			column;
		background:				white;
		overflow: auto;
	}
}
.colors>div>h1{
	font-size: 3vh;
	line-height: 2.5vh;
}
.colors>div>p{
	font-size: 2.3vh;
    line-height: 2.5vh;
}

#c1{
	background: #FF6363;
}
#c2{
	background: #63ECFF;
}
#c3{
	background: #F363FF;
}
#c4{
	background: #63FF73;
}
#c5{
	background: #FFDD63;
}
#c6{
	background: #6663FF;
}